@model MedicalAppointmentSchedulingSystem.Models.DTO.RegistrationModel
@{

}

<head>

    <style>
        /* Basic styling for the login form */
        .w1-40 {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background: linear-gradient(#8BD7F0,#fff);
            border: 2px solid #1FB0DF;
            border-radius: 48px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
            text-align: center;
        }

        .btn-default1 {
            background: linear-gradient(to right, #1FB0DF, #1FB0DF);
        }

        .input-container1 {
            margin-bottom: 15px;
            margin: 0px 0px -24px 0px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .input1 {
            width: 100%;
            height: 35px;
            padding: 10px;
            border: 1px solid #1FB0DF;
            border-radius: 60px;
            font-size: 16px;
        }

        .container{
            padding:0rem;
        }




        /* Style the Login button */
        .btn-default {
            background-color: #007BFF;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .btn-default:hover {
                background-color: #0056b3;
            }

        /* Style the SignUp link */
        a {
            display: block;
            text-align: center;
            margin-top: 10px;
            text-decoration: none;
            color: #007BFF;
        }

            a:hover {
                text-decoration: underline;
            }

        .login-container {
            width: 100%;
            max-width: 400px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 60px;
            text-align: center;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin:20px 0 10px 30px;
        }

    </style>
</head>



<body style="background-image:url('/images/Sc1.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; height: 100vh; margin: 0; padding: 0;">

    <div class="login-container" style="margin: 0px 0px 0px 60px">
        <form asp-action="RegistrationPatient" method="post" class="w1-40">
            <h2 class="pb-2">Registration</h2>

            <div class="input-container1">
                <label asp-for="Name">Name</label>
                <input type="text" class="input1" asp-for="Name" required>
                <div class="message-box">
                    <span asp-validation-for="Name"></span>
                </div>
            </div>

            <div class="input-container1">
                <label asp-for="Username">Username</label>
                <input type="text" class="input1" asp-for="Username" required>
                <div class="message-box">
                    <span asp-validation-for="Username"></span>
                </div>
            </div>

            <div class="input-container1">
                <label asp-for="Email">Email</label>
                <input type="email" class="input1" asp-for="Email" required>
                <div class="message-box">
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="input-container1">
                <label asp-for="Password">Password</label>
                <input type="password" class="input1" asp-for="Password" required>
                <div class="message-box">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>

            <div class="input-container1">
                <label asp-for="PasswordConfirm">Confirm Password</label>
                <input type="password" class="input1" asp-for="PasswordConfirm" required>
                <div class="message-box">
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>

            @if (TempData["msg"] != null)
            {
                <div class="alert mb-1" style="margin-top:20px; padding:0 0 0 0">
                    @TempData["msg"]
                </div>
            }

            <button class="btn btn-default1" type="submit" style="margin:20px 0px 0px 0px">Signup</button>
            <a class="btn btn-default1" style="margin:20px 0px 0px 0px" href="/UserAuthentication/Login">Login</a>
        </form>
    </div>

</body>