@{
   
}



<body style="background-image:url('/images/Speci.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; height: 100vh; margin: 0; padding: 0;">

    <div style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; text-align: center; margin:250px 0px 0px 0px">
        
        <h1 style="font-size: 36px; font-weight: bold; color:#0C5687" ;font-family:'Mukta', sans-serif;>About Us<i style="color:red;font-size:36px; margin:0px 0px 0px 10px" class="fa fa-plus"></i></h1>
        
        <h2 style="font-size: 18px; font-weight: bold; color:#0C5687;font-family:'Mukta', sans-serif;">
            Our doctor appointment booking system is an online system that allows patients to easily book their appointment with particular Doctor related to their health issues.
            Such as Dental, Injury, Metal health, Muscle strain, Obesity, Arthritis, Asthma, etc.
        </h2>
    </div>

</body>

